<div id="students" class="min-w-full ">
  <div class="rounded-xl overflow-auto">
    <table class="border-collapse table-auto w-full text-sm">
      <thead>
        <tr>
          <th class="bg-blue-100 border text-left px-8 py-4 whitespace-nowrap">Registraton</th>
          <th class="bg-blue-100 border text-left px-8 py-4 whitespace-nowrap">Name</th>
          <th class="bg-blue-100 border text-left px-8 py-4 whitespace-nowrap">Course</th>
          <th class="bg-blue-100 border text-left px-8 py-4 whitespace-nowrap"></th>
        </tr>
      </thead>
      <tbody>
        <% students.each do |student| %>
          <tr>
            <td class="border px-8 py-4 whitespace-nowrap">-</td>
            <td class="border px-8 py-4 w-full whitespace-nowrap"><%= student.name %></td>
            <td class="border px-8 py-4 whitespace-nowrap">-</td>
            <td class="border px-8 py-4 whitespace-nowrap">
              <%= link_to 'Show', student, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
              <%= link_to 'Edit', edit_student_path(student), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
