<li class="relative group <%= 'font-bold underline' if controller_name.include?(text.downcase) %>">
  <%= link_to text, path, class: 'ud-menu-scroll text-base text-dark lg:text-black lg:group-hover:opacity-70 lg:group-hover:text-gray group-hover:text-primary py-2 lg:py-6 lg:inline-flex lg:px-0 flex mx-8 lg:mr-0' %>
</li>
